
*{margin: 10px; border: 5px;
    text-align: center;
    background-color: gainsboro}
.header{ font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px}
#profile{ color: black;
    background-color: gainsboro;
    text-align: center}
#abooutme{background-color: darkslategray;
        color: white;
        font-family: 'DejaVu Sans Mono', monospace; }
#myclasses{background-color: cadetblue;
            color: black;font-family: 'DejaVu Sans', Arial, Helvetica}

#mymovies{background-color: cadetblue;
    color: black;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; }
#mymood{background-color: gainsboro;
    color: black;}
p{font-size: 14px; background-color: white;
    color: black}
#footer{background-color: aqua;
    text-align: center;
    text-align: center}
